.custom-navbar {
  font-size: 18px;
  background-color: #007bff;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
}

.custom-navbar .navbar-nav .nav-link {
  color: #fff;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #ffc107;
}

.custom-navbar .navbar-toggler {
  border: none;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-navbar .form-control {
  border: none;
  background-color: #007bff;
  color: #fff;
}

.custom-navbar .btn-outline-success {
  color: #fff;
  border-color: #ffc107;
}

.custom-navbar .btn-outline-success:hover {
  background-color: #ffc107;
}
.custom-navbar {
  background-color: #3c3c3b;
}
